.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #242424;
}

.design {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.design > p {
    color: #fff;
}

.design > p > span {
    color: var(--main-orange);
}

.unifranz-social {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 30px;
}

.unifranz-social > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--main-orange);
    width: 40px;
    height: 40px;
    border: 1px solid var(--main-orange);
    border-radius: 10px;
    transition: all 0.3s;
}

.unifranz-social > a:hover {
    background-color: var(--main-orange);
    color: #242424;
    border: 1px solid #242424;
}

.social {
    font-size: 1.4rem;
}